.chat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #d6f5d6;
  border-radius: 8px;
  width: 100%;
}
.chat-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}
.chat-send {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.message {
  padding: 10px;
  background-color: #fcf9f9;
  border-radius: 20px;
}
.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chat-input-container {
  display: flex;
  gap: 10px;
  margin: auto;
  flex-direction: row;
  position: sticky;
  top: 79%;
  bottom: 1%;
  width: 100%;
  padding: 20px 4px;
  background-color: #d6f5d6;
}
.main-chat-container {
  display: flex;
  flex-direction: column;
  padding: 10px 4px;
  background-color: #d6f5d6;
  border-radius: 8px;
  width: 100%;
  flex-wrap: wrap;
}
.chat-heading {
  font-size: 1.5em;
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: #d6f5d6;
  padding: 18px 0;
  margin-top: 0;
  margin-left: 16px;
}
.sent {
  align-self: flex-end;
  background-color: #b6d1ee;
}
.received {
  align-self: flex-start;
}
@media (max-width: 700px) {
  .chat-heading {
    margin-left: 0px;
  }
}
