.login-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/Texture_img.png");
}
.login-children-content {
  flex: 1;
  height: max-content;
  height: 100%;
  width: 100%;
}
.login-children-content2 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .login-container-wrapper {
    flex-direction: column;
  }
  .login-children-content1 {
    display: none;
  }
  .login-container {
    justify-content: normal;
 }
}
