.fav {
  fill: red;
  transform: translateY(-0px) scale(1.2);
}
.fav-icon {
  margin-top: 4px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.fav-container {
  display: inline;
  border-radius: 100%;
  flex-shrink: 0;
}
.fav-click {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  cursor: pointer;
}

@media (min-width: 700px) {
  .fav-icon:hover {
    fill: red;
    transform: translateY(-0px) scale(1.2);
  }
}
