.product-detail-page-container {
    position: absolute;
    padding: 12px 0;
    .product-img {
            height: 100%;
            flex: 1;
    }
    .product-detail-info {
        flex: 1;
    }
}
.go-back {
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
}
.product-detail-page-content {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
