.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.link-buttons {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.login-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 52%;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.login-subtitle {
  display: inline;
}
.go-title {
  color: #07e207;
}
.login-label {
  font-weight: 600;
  width: 100%;
}
.login-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-top: 8px;
}
.submit-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.submit-buttons {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #c4fd5b;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  width: 100%;
}
.submit-buttons:hover {
  background-color: green;
  color: white;
}
.signup-submit {
  color: blue;
  text-decoration: underline;
  padding: 2px;
  text-align: center;
}

@media (max-width: 440px) {
  .login-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .login-box {
    padding: 0;
    width: 90%;
  }
  .login-container {
    justify-content: normal;
  }
}
