.loader-main-container {
  display: flex;
  gap: 20px;
  @media (max-width: 700px) {
    flex-direction: column;
    gap: 0;
  }
  .message {
    width: 162px;
  }
  .message {
    width: 190px;
  }
}
.product-filters {
  flex: 1;
  width: 100%;
  background-color: #e0e0e0;
  @media (min-width: 700px) {
    display: block;
  }
}
.loader-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  animation: expandIn 300ms ease-out forwards;
  /* @keyframes expandIn {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 1000px;
      opacity: 1;
    }
  } */
  .product-filters {
    height: 100vh;
    flex: 1;
    width: 100%;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .tile-container {
    width: 245px;
  }
  .product-img-loader {
    border-radius: 20px;
    height: 245px;
    width: 100px;
    background-color: #e0e0e0;
  }
  .img-container-loader {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
  }
  .prod-button-container {
    display: flex;
    align-items: flex-start;
    .buy-prod {
      background-color: #e0e0e0;
      border: none;
      border-radius: 5px;
    }
  }
  .loader-item {
    height: 10px;
    margin-top: 2px;
    background-color: #e0e0e0;
  }
  .prod-price-discount {
    width: 20%;
    text-align: left;
    margin: 2px 0;
  }
}

.loader-userlist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  .user-list-item {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    background-color: #e0e0e0;
  }
}

@media (max-width: 700px) {
  .loader-container {
    .product-page-filters {
      display: none;
    }
    .tile-container {
      width: 46%;
    }
    .product-img {
      width: 100%;
    }
    .product-page-list {
      gap: 14px;
      justify-content: center;
    }
  }
}
