.product-page-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.product-page-filters {
    flex: 1;
}
.product-page-list {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 14px;
}


@media (max-width: 700px) {
    .product-page-filters {
    display: none;
}
.product-page-list {
    gap: 10px;
}

}