.product-page-container-wishlist {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (max-width: 700px) {
  .product-page-container-wishlist {
    gap: 10px;
    padding: 0 6px;
  }
  .go-back {
    margin: 10px 2px 10px;
  }
}
